* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(96, 89, 89);
  background-color: #1b181c;
}

a {
  text-decoration: none;
  color: #d142f5;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #520f43;
}

button {
  background-color: #919191;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

.meta{
  color: #964e5f;
}

.upvote_count{
  color: #5cd3c2;
  text-shadow: 1px 1px green;
  font-weight: bolder;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #fccaf1;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-color: #3d222e;
  text-shadow: 2px 2px black;
}

header h1 {
  font-size: 2.5em;
}

.title a {
  border-bottom: #e84d92 solid;
  text-shadow: 2px 2px black;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ba2392;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  background-color: #ca9dc7;
}

.comment:nth-child(odd) {
  background-color: #c9bb90;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

.post-content{
  color:#7db1cd;
  padding-left: 5px;
}

footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  color: #f542d4;
  background-color: #3d222e;
  text-shadow: 2px 2px black;
}